/* Bloque Principal */
.card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 95%;
    max-width: 555px;
    background: linear-gradient(to top, rgb(134, 134, 142), #fff);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    overflow: hidden;

}

/* Header con Flexbox */
.card__header {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px; /* Espacio automático entre foto y texto */
}

.card__profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid #808080;
    object-fit: cover;
    z-index: 2;
    flex-shrink: 0;
}

.card__information {
    background-color: #000;
    color: #fff;
    padding: 20px 30px 20px 50px;
    border-radius: 40px;
    margin-left: -60px; /* Único valor negativo para el efecto de solape */
    flex-grow: 1;
}

/* Contacto con Flexbox */
.card__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
}

.card__about-title {
  text-align: center;
}


.card__about-text {
  line-height: 1.6;
  font-family: sans-serif;
}


.card__email-item, .card__linkedin-item, .card__github-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__email-icon, .card__linkedin-icon, .card__github-icon { width: 20px; height: 20px; }


.card__form {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}

